/* Header */
.header {
  padding: 10px 0 8px;
}
.wrapp_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block_logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.block_logo > img {
  width: 84px;
  height: 84px;
}
.logo-text {
  font-family: var(--second_font);
  font-weight: 700;
  font-size: 18px;
  color: #d3ac8c;
  display: none;
}

/* btn course */
.select_course {
  position: relative;
}
.btn_cours {
  display: flex;
  align-items: center;
  background: var(--btn_background_color);
  padding: 15px 18px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  letter-spacing: 0.03em;
}

.btn_cours > p {
  font-family: var(--second_font);
  font-weight: 700;
  font-size: 16px;
  color: white;
}
.btn_cours > img {
  margin-left: 10px;
  width: 10px;
  height: 15px;
}
.drop_list {
  z-index: 9;
  background: var(--btn_background_color);
  width: 210px;
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  display: none;
}
.drop_list a {
  color: white;
  cursor: pointer;
  font-family: var(--main_font);
  text-decoration: none;
}
.drop_list li:first-child {
  margin-bottom: 10px;
}
/* End header */
/* main section */

.wrapp_video_block {
  padding-top: 50px;
}
.left_block {
  /* position: relative; */
  height: 336px;
  max-width: 410px;
  width: 100%;
  background: var(--block_backround_color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 22px 78px;
}

.for_adapt_height {
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.wrapp_main_subtitle {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.05;
  letter-spacing: -0.05em;
  text-align: center;
  color: #001a49;
  margin-bottom: 10px;
}

.wrapp_main_title {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.41;
  letter-spacing: -0.03em;
  text-align: center;
  color: #001a49;
  margin-bottom: 10px;
}
.wrapp_main_text {
  margin-bottom: 20px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #4f596a;
}

.block_align {
  text-align: center;
  max-width: 620px;
  width: 100%;
  margin: 0 auto;
}
.left-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  padding: 0 12px;
}
.left-title {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.12;
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 20px;
}
.left-text {
  font-family: var(--second_font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  color: #4f596a;
}
.left-subtitle {
  font-family: var(--second_font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 30px;
}
.buy_course_btn {
  display: block;
  text-decoration: none;
  background: var(--btn_background_color);
  border: solid 2px transparent;
  border-radius: 33px;
  padding: 17px 24px;
  font-family: var(--second_font);
  transition: color 0.2s ease-in-out;
  width: 178px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}
.btn_buy {
  margin-bottom: 30px;
}

.buy_course_btn:hover {
  color: black;
  border: solid 2px #002c43;
  background: transparent;
}
.video_part {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-align: center;
}

.right_block {
  position: relative;
}
.video_placeholder {
  max-width: 356px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  box-shadow: 0px 32px 44px 0px #818a8c;
  top: -20px;
  z-index: 1;
  border: none;
}

/* end main section */
/* about product block */
.wrapp_decoration_block {
  position: relative;
  padding: 264px 0 50px;
}
.second_block {
  padding: 282px 0 50px;
}
.wrapp_about_product {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;

  align-items: center;
}
.block_text {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 30px;
}
.about_title {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  text-align: center;
}
.about_text {
  font-family: var(--main_font);
  font-weight: 380;
  font-size: 16px;
  line-height: 2.44;
  text-align: center;
  letter-spacing: 0.03em;
}
.block_yin {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}
.second_list {
  flex-wrap: wrap;
  gap: 26px;
  margin-bottom: 30px;
  justify-content: center;
}

.block_yin > li {
  text-align: center;
  max-width: 180px;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.second_list > li {
  gap: 17px;
}
.block_yin > li > img {
  width: 50px;
  height: 50px;
}
.block_yin > li > p {
  font-family: var(--second_font);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
.result_btn {
  margin-bottom: 0;
}
.decoration_images_left {
  position: absolute;
  z-index: -1;
  left: -50px;
  width: 178px;
  height: 167px;
  top: -160px;
  clip-path: polygon(50px 0, 100% 0, 100% 100%, 50px 100%);
}

.decoration_images_right {
  position: absolute;
  right: 0;
  bottom: 326px;
  height: 152px;
  width: 51px;
  z-index: -1;
}

/* end about product block */
/* about consumer */
.wrapp_about_consumer {
  padding: 50px 0;
}
.consumer_title {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  text-align: center;
  margin-bottom: 30px;
}
.consumer_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item_consumer_text {
  width: 100%;
  background: var(--block_backround_color);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item_consumer_text > h3 {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
.item_consumer_text > p {
  font-family: var(--second_font);
  color: #4f596a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* end about consumer */
/* element course */
.block_element_course {
  text-align: left;
}

.block_element_course > .block_btn {
  text-align: center;
}
/* .fragment_text {
  font-family: var(--main_font);
  font-size: 36px;
  position: absolute;
  top: -230px;
  right: 70px;
  white-space: nowrap;
} */
.wrapp_about_product_down {
  position: relative;
}
.decoration_blue_image {
  position: absolute;
  z-index: -2;
  left: -55px;
  top: -150px;
  width: 225px;
  height: 225px;
  clip-path: polygon(55px 0, 100% 0, 100% 100%, 55px 100%);
}
.decoration_orange_image {
  position: absolute;
  z-index: -1;
  left: 34px;
  top: -10px;
  width: 96px;
  height: 96px;
}
/* feedback section */
.wrapp_feedback_block {
  padding: 50px 0;
}
.feedback_container {
  background: var(--block_backround_color);
  padding: 30px 10px;
  border-radius: 20px;
}
.feedback_title {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.44;
  text-align: center;
  margin-bottom: 30px;
}
.wrapp_feedback_items {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.wrapp_feedback_items:active {
  cursor: grabbing;
}

.feedback::-webkit-scrollbar {
  display: none;
}
.feedback_item {
  flex: 0 0 auto;
  width: 300px;
  background-color: #002c43d9;
  padding: 30px;
  color: white;
  border-radius: 20px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feedback_item > div > p {
  font-family: var(--second_font);
}
.name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}
.age {
  font-size: 16px;
  margin-bottom: 4px;
}
.profession {
  font-size: 16px;
  margin-bottom: 10px;
}
.feedback {
  font-size: 20px;
  height: 270px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.feedback::-webkit-scrollbar {
  display: none;
}

/* about teacher block */
.about_teacher_wrapp {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 50px 0;
}
.teacher_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teacher_img {
  margin-bottom: 50px;
  width: 100%;
}
.wrapp_left_block_teacher {
  max-width: 615px;
  width: 100%;
  font-family: var(--main_font);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.wrapp_left_block_teacher > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.56;
  text-align: center;
}
.wrapp_left_block_teacher > .name_teacher {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.wrapp_left_block_teacher > ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.wrapp_left_block_teacher > .text_about_teacher {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.06em;
}
.wrapp_right_block_teacher {
  max-width: 420px;
  width: 100%;
}
.teacher_list_text {
  font-family: var(--main_font);
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  text-align: center;
}

/* block form */
.wrapp_block_form {
  padding: 50px 0 0;
}
.left_block_form {
  position: relative;
  border-radius: 20px 20px 0 0;
  padding: 25px 15px 50px;
  background: none;
  z-index: 1;
  overflow: hidden;
}

.left_block_form::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #f2dfcf 0%, #ebcbb1 49.57%);
  opacity: 0.39;
  z-index: -1;
  border-radius: 20px 20px 0 0;
}
.right_block_form {
  font-family: var(--main_font);
  max-width: 580px;
  width: 100%;
  margin-bottom: 25px;
  position: relative;
}
.right_block_form > h2 {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.44;
  letter-spacing: -0.03em;
  text-align: center;
  color: #001a49;
  margin-bottom: 20px;
}
.last_right_deko {
  position: absolute;
  z-index: -10;
  height: 208px;
  width: 73px;
  bottom: -190px;
  right: -10px;
}
.form_info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: -0.06em;
  text-align: center;
  color: #000;
  margin-bottom: 36px;
}
.form_access {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: -0.05em;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}
.form_price {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.04;
  letter-spacing: -0.04em;
  color: #000;
  text-align: center;
}
.form_price > span {
  color: red;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#name,
#email {
  width: 100%;
  height: 35px;
  border-radius: 15px;
  box-shadow: -3px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  color: #989898;
  font-family: var(--second-family);
  letter-spacing: 0.03em;
  padding-right: 19px;
  padding-left: 19px;
}
#email {
  margin-bottom: 15px;
}
.block_number {
  display: flex;
  align-items: center;
  gap: 10px;
}
#phone_region {
  font-family: var(--second_font);
  max-width: 120px;
  width: 100%;
  height: 35px;
  border-radius: 15px;
  box-shadow: -3px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  padding-left: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 20px;
  background: url("../img/arrowWhite.svg") no-repeat right 20px center white;
  background-size: 12px;
}
#phone {
  width: 100%;
  height: 35px;
  border-radius: 15px;
  box-shadow: -3px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  padding-right: 19px;
  padding-left: 19px;
}

#submit_form_btn {
  text-decoration: none;
  border: none;
  color: white;
  background: var(--btn_background_color);
  border: solid 2px transparent;
  border-radius: 33px;
  font-size: 20px;
  padding: 18px 52px;
  font-family: var(--main_font);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: color 0.2s ease-in-out;
}
#submit_form_btn:hover {
  color: black;
  border: solid 2px #002c43;
  background: transparent;
}

/* footer block */

.wrapp_footer {
  padding: 50px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.wrapp_footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #ebcbb1 0%, #e4b186 49.57%);
  opacity: 0.39;
  z-index: -1;
}
.footer_logo {
  width: 84px;
  height: 83px;
}
.info_block {
  font-family: var(--second_font);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
.info_block > p {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #000;
}
.link {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #000;
}
.polyci_block {
  text-align: center;
  font-family: var(--second_font);
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 16px;
}
.footer_link {
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
  white-space: nowrap;
}
.line {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 254px;
  height: 1px;
}
.social_media_block {
  margin: auto 0;
}
.block_social_icon {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}
.social_media_block > .block_social_icon > a {
  width: 48px;
}
.social_media_block > .block_social_icon > a:nth-child(1) {
  margin-left: 0;
}
.payment_icon {
  max-width: 330px;
  width: 100%;
  padding-left: 30px;
}
.policy_wrapp {
  display: none;
  max-width: 100%;
  height: calc(100% - 20px);
  overflow-y: auto;
  padding: 50px 20px;
  width: calc(100% - 20px);
  background-color: white;
  position: fixed;
  z-index: 111;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px;
  border: solid 1px gray;
}
.policy_wrapp > h3 {
  font-family: var(--main_font);
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}
.policy_wrapp > ul > li {
  font-family: var(--main_font);
  list-style: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 110;
  overflow: hidden;
}
#close_modal_policy,
#close_modal_policy2 {
  font-family: var(--main_font);
  position: absolute;
  right: 25px;
  top: 20px;
  font-size: 20px;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

/* page 2 */
.hero {
  padding: 0 10px 50px 10px;
}
.wrapp_main_img {
  background: var(--block_backround_color);

  border-radius: 20px;
  padding: 25px 20px;
}
.wrapp_main_img > img {
  width: 100%;
}
.wrapp_text {
  position: relative;
}
.decoration_images_left_page2 {
  position: absolute;
  z-index: -1;
  left: -80px;
  width: 108px;
  top: 90px;
  clip-path: polygon(50px 0, 100% 0, 100% 100%, 50px 100%);
}
.main_container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_test {
  margin: 0 auto 50px;
  font-family: var(--main_font);
  width: 100%;
}
.main_test > h1 {
  font-size: 36px;
  margin-bottom: 30px;
  line-height: 1.22;
  text-align: center;
}
.main_test > p {
  width: 100%;
  font-size: 16px;
  line-height: 2.44;
  text-align: center;
}

.margin_feedback {
  padding: 100px 0;
}
.margin_page {
  padding: 100px 0;
}
.video_tai {
  max-width: 356px;
  right: -456px;
  width: 100%;
  top: -50px;
  height: 200px;
}

.left_text_second {
  font-family: var(--second_font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #4f596a;
  margin-bottom: 20px;
  text-align: center;
}
.about_teacher_second {
  padding-top: 300px;
}

.left_price_second {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  width: unset;
}
.left_price {
  font-size: 24px;
  font-weight: 700;
  color: rgb(139, 0, 0);
  text-align: center;
  margin-bottom: 20px;
}

.polyci_wrap {
  order: 5;
}
.info_block {
  order: 1;
}

.line:nth-of-type(1) {
  order: 2;
}

.line:nth-of-type(2) {
  order: 4;
}

.social_media_block {
  order: 3;
}

/* adapt */
@media screen and (min-width: 346px) {
  .for_adapt_height {
    height: 870px;
  }
}
@media screen and (min-width: 386px) {
  .for_adapt_height {
    height: 751px;
  }
}

@media screen and (min-width: 430px) {
  .btn_cours {
    padding: 15px 48px;
  }

  form {
    width: 380px;
  }
  .video_part {
    font-size: 30px;
    line-height: 2.12;
  }

  .video_placeholder {
    max-width: 590px;
  }
  .video_tai {
    max-width: 356px;
  }
  .second_list {
    gap: 30px 26px;
  }
  .feedback_item {
    width: 350px;
    display: block;
  }

  .main_test > p {
    width: unset;
  }
  .main_container_second {
    position: relative;
  }
  .feedback {
    height: 280px;
  }
}

@media screen and (min-width: 834px) {
  .logo-text {
    display: block;
  }
  .header {
    padding: 25px 0;
  }
  .payment_icon {
    width: 438px;
    max-width: unset;
    height: 44px;
  }
  .left_block {
    max-width: 814px;
    padding: 50px 22px;
  }
  .wrapp_main_subtitle {
    font-size: 24px;
    letter-spacing: -0.04em;
  }
  .wrapp_main_title {
    font-size: 48px;
    line-height: 1.42;
    letter-spacing: -0.02em;
  }
  .wrapp_main_text {
    font-size: 20px;
    font-family: var(--second_font);
  }
  .for_adapt_height {
    padding: 30px 127px 32px;
  }

  .right_block_form > h2 {
    font-size: 40px;
    line-height: 1.3;
  }
  .form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left_block_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .last_right_deko {
    width: 107px;
    height: 300px;
    right: -128px;
    bottom: -110px;
  }
  .form_info {
    width: 498px;
  }

  .buy_course_btn {
    width: 206px;
    height: 66px;
    font-size: 20px;
  }
  .about_btn {
    width: 228px;
    height: 67px;
  }
  .left-title {
    font-size: 40px;
    line-height: 1.7;
    width: 530px;
  }
  .left-list {
    padding: 0;
    margin-bottom: 40px;
  }

  .video_part {
    font-size: 32px;
  }
  .video_placeholder {
    top: -50px;
  }
  .wrapp_about_product {
    gap: unset;
  }
  .wrapp_decoration_block {
    padding: 428px 0 50px;
  }
  .decoration_images_left {
    width: 288px;
    height: 288px;
    left: -20px;
    top: -240px;
  }
  .decoration_images_right {
    width: 84px;
    height: 278px;
    clip-path: inset(0 10px 0 0);
    bottom: 236px;
    right: -10px;
  }
  .about_title {
    font-size: 40px;
    line-height: 1.25;
    width: 560px;
    margin-bottom: 30px;
  }
  .about_text {
    font-size: 24px;
    line-height: 1.62;
    margin-bottom: 50px;
    width: 718px;
  }
  .block_yin {
    margin-bottom: 25px;
    gap: 80px;
  }
  .block_yin > li > img {
    width: 70px;
    height: 70px;
  }
  .block_yin > li > p {
    font-size: 20px;
  }
  .block_yin > li:last-child > p {
    width: 180px;
  }
  .block_text {
    font-size: 36px;
    line-height: 1.39;
  }
  .second_list {
    gap: 30px;
    margin-bottom: 30px;
  }
  .consumer_title {
    font-size: 40px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
  .item_consumer_text {
    padding: 20px 50px;
  }
  .item_consumer_text > h3 {
    font-size: 24px;
    line-height: 1;
  }
  .item_consumer_text > p {
    width: 501px;
  }
  .item_consumer_text > p.consumer_text_last {
    width: 100%;
  }
  .decoration_blue_image {
    left: -80px;
    top: -210px;
    width: 288px;
    height: 288px;
    clip-path: polygon(80px 0, 100% 0, 100% 100%, 80px 100%);
  }
  .decoration_orange_image {
    width: 123px;
    height: 123px;
    top: -40px;
  }
  .wrapp_about_product_down {
    padding: 0 170px;
  }
  .feedback_container {
    padding: 50px 30px;
    max-width: 814px;
  }
  .feedback_item {
    width: 550px;
    height: 378px;
    padding: 45px;
  }
  .profession {
    margin-bottom: 30px;
  }
  .feedback {
    font-size: 16px;
    line-height: 1.87;
    height: 100%;
  }
  .feedback_title {
    font-size: 36px;
    line-height: 1.56;
    margin-bottom: 73px;
  }
  .about_teacher_wrapp {
    padding: 50px 0 68px;
  }
  .teacher_img {
    width: 419px;
    height: 382px;
  }
  .wrapp_left_block_teacher > .name_teacher {
    font-size: 20px;
    line-height: 1.6;
  }
  .wrapp_left_block_teacher > .text_about_teacher {
    letter-spacing: unset;
  }
  .feedback {
    height: 165px;
  }
  .about_teacher_second {
    padding-top: 350px;
  }
  .main_test {
    width: 548px;
  }
  .main_test > h1 {
    font-size: 40px;
    line-height: 1.25;
  }
  .main_test > p {
    font-size: 24px;
    line-height: 1.62;
  }
  .decoration_images_left_page2 {
    position: absolute;
    z-index: -1;
    left: -80px;
    top: 0;
    width: 258px;
    clip-path: polygon(80px 0, 100% 0, 100% 100%, 80px 100%);
  }
  .video_tai {
    max-width: 590px;
    right: -456px;
    width: 100%;
    top: -50px;
    height: 300px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    padding: 10px 0;
  }
  .wrapp_header {
    padding: 0 50px;
  }
  .hero_container,
  .video_container {
    padding-left: 0;
  }
  .left_block {
    max-width: unset;
    width: 1090px;
    height: 700px;
    padding: 262px 406px 202px 98px;
    border-radius: 0 20px 20px 0;
  }
  .video_placeholder {
    max-width: unset;
    height: 360px;
    width: auto;
    border-radius: 20px 0 0 20px;
    top: -550px;
    right: -480px;
    left: unset;
  }
  .wrapp_decoration_block {
    padding: 100px 0 50px;
  }
  .about_title {
    width: unset;
    margin-bottom: 20px;
  }
  .about_text {
    width: 877px;
  }
  .block_yin {
    width: 906px;
    gap: unset;
    margin-bottom: 80px;
  }

  .about_btn {
    width: 206px;
    height: 66px;
  }
  .consumer_title {
    font-size: 46px;
    line-height: 1.22;
    margin-bottom: 48px;
  }
  .item_consumer_text {
    padding: 27px 263px 12px 130px;
  }
  .for_adapt_height {
    padding: 70px 320px 70px 151px;
    align-items: flex-start;
    height: unset;
  }
  .left-title {
    text-align: left;
    font-size: 48px;
    line-height: 1.42;
  }
  .left-text {
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
  }
  .left-list {
    margin-bottom: 10px;
  }
  .left-subtitle {
    font-size: 24px;
    line-height: 1.25;
    text-align: left;
  }
  .btn_buy {
    margin-bottom: 0;
  }
  .video_part {
    position: absolute;
    right: 104px;
  }
  .video_second {
    top: -520px;
  }
  .decoration_images_left {
    clip-path: polygon(10px 0, 100% 0, 100% 100%, 10px 100%);
    left: -10px;
    top: 0;
  }
  .decoration_images_right {
    clip-path: unset;
    width: 134px;
    height: 383px;
    bottom: 0;
    right: 0;
  }
  .decoration_blue_image {
    width: 184px;
    height: 432px;
    clip-path: polygon(40px 0, 100% 0, 100% 100%, 40px 100%);
    left: -40px;
    z-index: 1;
    top: -270px;
  }
  .decoration_orange_image {
    z-index: 2;
    top: 10px;
  }
  .block_text {
    font-size: 40px;
    line-height: 1.25;
  }
  .second_list {
    width: 1115px;
    gap: 30px;
    margin-bottom: 30px;
  }
  .block_yin > li {
    max-width: 250px;
    min-width: 195px;
  }

  .block_yin > li:nth-child(3) > img {
    margin-bottom: 0;
  }
  .feedback_container {
    padding: 58px 0 50px 150px;
    max-width: 1440px;
    border-radius: 0;
  }
  .feedback_container {
    font-size: 46px;
    line-height: 1.22;
  }
  .feedback_title {
    margin-bottom: 45px;
    padding-right: 150px;
  }
  .feedback {
    height: 140px;
    font-size: 20px;
    line-height: 1.5;
  }
  .wrapp_left_block_teacher {
    align-items: flex-start;
  }
  .teacher_container {
    flex-direction: row-reverse;
    gap: 88px;
    align-items: flex-start;
  }
  .teacher_img {
    margin-bottom: 0;
  }
  .wrapp_left_block_teacher > h2 {
    font-size: 46px;
    line-height: 1.22;
  }
  .wrapp_left_block_teacher > .name_teacher {
    font-size: 24px;
    line-height: 1.33;
    text-align: left;
  }
  .wrapp_left_block_teacher > ul {
    width: 408px;
    align-items: flex-start;
    padding-left: 32px;
  }
  .wrapp_left_block_teacher > .text_about_teacher {
    text-align: left;
  }
  .about_teacher_wrapp {
    padding: 50px 0;
  }
  .form_container {
    flex-direction: row-reverse;
    padding: 0;
  }
  .left_block_form {
    width: 720px;
    padding: 150px 170px;
    border-radius: 0 20px 0 0;
  }
  .left_block_form::before {
    border-radius: 0 20px 0 0;
  }
  .right_block_form {
    width: 720px;
    max-width: unset;
    padding: 115px 102px 110px 40px;
    margin-bottom: 0;
  }
  #submit_form_btn {
    width: 206px;
    height: 66px;
  }
  .right_block_form > h2 {
    text-align: left;
    font-size: 48px;
    line-height: 1.08;
  }
  .right_block_form > p {
    text-align: left;
  }
  .last_right_deko {
    width: 154px;
    height: 432px;
    right: 0;
    bottom: 300px;
  }
  .footer_container {
    padding: 0;
  }
  .wrapp_footer {
    padding: 46px 50px 50px 53px;
    flex-direction: row;
    position: relative;
    align-items: flex-start;
  }
  .footer_logo {
    top: -14px;
    left: 63px;
    position: absolute;
    z-index: 1;
    width: 64px;
    height: 64px;
  }
  .line {
    width: 1px;
    height: 130px;
  }
  .polyci_wrap {
    order: 3;
  }
  .info_block {
    order: 1;
    align-items: flex-start;
    padding-top: 28px;
  }

  .line:nth-of-type(1) {
    order: 2;
  }

  .polyci_block {
    padding-top: 28px;
    margin-bottom: 6px;
    width: 388px;
  }
  .payment_icon {
    width: 346px;
    height: 35px;
  }

  .line:nth-of-type(2) {
    order: 4;
  }

  .social_media_block {
    order: 5;
    width: 388px;
  }
  .video_tai {
    max-width: 590px;
    right: -456px;
    width: 100%;
    top: -450px;
  }
  .left-title_second {
    text-align: center;
    width: unset;
  }
  .left_price_second {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    width: unset;
  }
  .left_price {
    font-size: 24px;
    font-weight: 700;
    color: rgb(139, 0, 0);
    text-align: center;
    margin-bottom: 20px;
  }
  .left_block_second {
    align-items: center;
    padding: 70px 280px 70px 151px;
    position: relative;
  }
  .video_part_second {
    top: 100px;
    right: -284px;
  }
  .last_right_second {
    width: 154px;
    height: 332px;
    right: -20px;
    bottom: 320px;
  }
  .about_teacher_second {
    padding-top: 50px;
  }
  .main_test > p {
    width: 1041px;
  }
  .main_test {
    width: 1041px;
  }
}
